<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite for Nexus Portal"
	configfailurepolicy="skip" thread-count="10" verbose="10">
	<listeners>
		<listener
			class-name="com.NexusPortalAutomation.Utilities.Java.CustTestNGListener" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test thread-count="5" name="NexusTest">
		<classes>
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0001_VerifySignInbyID" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0002_TestSearchAutobyFirstName" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0003_TestSearchAutobyLastName" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0004_TestSearchbyRecentFunction" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0005_TestBookMarks" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0006_TestAlertOnLoad" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0007_TestSummarySection" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0008_VerifySignInbyLocationID" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0009_VerifyAccountSearch" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0010_VerifyCustomerDetails" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0011_VerifyBookMark" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0012_VerifyCreditStatus" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0013_VerifyContactEdit" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0014_VerifySecondaryContact" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0015_VerifyContactLogs" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0016_VerifyBillingDetails" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0017_StatementsValue" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0018_VerifyDrillBacksGeneral" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0019_VerifyDrillBackTransactions" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0020_VerifyDrillBackServices" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0021_VerifyServicesOrderDetails" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0022_VerifyAction_ServiceOrder" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0023_VerifyRecentWidget" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0024_TestCustDetailSearch" />

			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0025_VerifyAction_Transfers_NotScheduled" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0026_VerifyAction_Transfers_StartService_NotScheduled" />
			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0027_VerifyAction_Transfers_StopService_NotScheduled" />

			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0028_TestEnhancedNotes" />

			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0029_VerifyAction_Transfers_Scheduled" />

			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0030_VerifyAction_Transfers_StartService_Scheduled" />

			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0030_VerifyAction_Transfers_StartService_Scheduled" />

			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0031_VerifyAction_Transfers_StopService_Scheduled" />

			<class
				name="com.NexusPortalAutomation.TestCases.Java.TC0032_VerifyAction_Transfers_Stack_StopService_Scheduled" />

		</classes>





	</test> <!-- Test -->
</suite> <!-- Suite -->
